body{
    font-family: 'Raleway', sans-serif;
}

h1, h2{
    font-family: 'Kanit', sans-serif;
}

p {
    font-size: 1.2em;
}

label {
    margin: 2em;
}

.section{
    /*height: 100vh;*/
    padding: 2.5em;
}


/*********************/
/*  Navbar Display */
/*********************/
/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 3px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}


/*********************/
/*  Intro Page */
/*********************/
body, html {
    height: 100%;
    margin: 0;
}

.bg-1{
    display: block;
}

.intro-image{
    /* The image used */
    background: url("../img/img1.png") center no-repeat;

    filter: grayscale(60%) brightness(60%); /* make all photos black and white */
    /*opacity: 0.8;*/

    /* Full height and width */
    height: 100%;
    width: 100%;
    display: block;

    /* Center and scale the image nicely */
    background-size: cover;
}

/* Place text in the middle of the image */
.intro-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.intro-text h1{
    font-size: 5em;
}

.intro-text h2{
    font-size: 3em;
}


/*********************/
/*  The Equifax Case */
/*********************/
.bg-2{
}

/*********************/
/*  The Internet Age */
/*********************/
.bg-3{
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

.internetpath {
    fill: none;
    stroke: #667292;
    stroke-width: 3px;
}

.dot {
    fill: #667292;
}

.axis-title {
    fill: black;
    font: 20px sans-serif;
    font-weight: bold;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(89, 89, 89, 0.8);
    color: #f2f2f2;
    border-radius: 8px;
    font-family: sans-serif;

}

/*********************/
/*  Data Breaches    */
/*********************/
.bg-4 {

}

/*********************/
/*  Consequences */
/*********************/
.bg-5{
    /*background: #96858f;*/
}

.square-map {
}

/*********************/
/*  Recommendation */
/*********************/
.bg-6{

}

footer{
    padding: 2.5em;
    background-color: #2d2d30;
    opacity: 0.9;
    color: #d5d5d5 !important;
}

footer:hover{
    color: #fff !important;
}

.glyphicon-chevron-up{
    color: #d5d5d5 !important;
}

