body{
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3{
    font-family: 'Kanit', sans-serif;
}


p {
    font-size: 1em;
}

label {
    margin: 2em;
}

.section{
    /*height: 100vh;*/
    padding-top: 2.5em;
    margin: 0px;
}



/*********************/
/*  Navbar Display */
/*********************/
/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 3px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}


/*********************/
/*  Intro Page */
/*********************/
body, html {
    height: 100%;
    margin: 0;
}

.bg-1{
    display: block;
}

.background-image{
    /* The image used */
    background: url("../img/img1.png") center no-repeat;

    filter: grayscale(60%) brightness(60%); /* make all photos black and white */
    /*opacity: 0.8;*/

    /* Full height and width */
    height: 100%;
    width: 100%;
    display: block;

    /* Center and scale the image nicely */
    background-size: cover;
}

/* Place text in the middle of the image */
.intro-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    width: 80%;
}

.intro-text h1{
    font-size: 5em;
}

.intro-text h2{
    font-size: 2em;
}

.btn-circle {
    width: 70px;
    height: 70px;
    /*margin-top: 15px;*/
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    text-align: center;
    vertical-align: middle;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/*********************/
/*  The Internet Age */
/*********************/
.bg-2{
    background-color: #F9F9F9;
    color: #2d2d30 !important;
}

.bg-2 .axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bg-2 .axis text {
    font-size: 11px;
}

.internetpath {
    fill: none;
    stroke: #667292;
    stroke-width: 3px;
}

.dot {
    fill: #667292;
}

.bg-2 .axis-title {
    fill: black;
    font-size: 20px;
    font-weight: bold;
}


.btn-group>a {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: var(--colorMedium);
    border-color: #ddd;
    border-width: 1px;
    background-color: #f0f0f0;
    padding: 3px 10px;
    margin: 2.8em 4px 4px 0;

    border-radius: 12px !important;
}
.btn-group>a:hover {
    color: var(--colorDark);
}


/****************/
/*  SLIDER  */
/****************/

/*.noUi-connect{*/
    /*background: #96AB96;*/
/*}*/

#internet-use-slider{
    width: 400px;
    display: flex;
    margin: 0.5em;
}

#internet-use-slider > div{
    flex:1;
}

#internet-slider-buttons{
    width: 400px;
    padding-left: 100px;
}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(89, 89, 89, 0.8);
    color: #f2f2f2;
    border-radius: 8px;
    font-family: sans-serif;

}

/*********************/
/*  Data Breaches    */
/*********************/
.bg-3 {
    background-color: #2d2d30;
    color: #d5d5d5 !important;
}

.parcoords {
    display: block;
}

.parcoords svg,
.parcoords canvas {
    font: 10px sans-serif;
    position: absolute;
}

.parcoords canvas {
    opacity: 0.9;
    pointer-events: none;
}

.axis .title {
    font-size: 10px;
    transform: rotate(-21deg) translate(-5px,-6px);
    fill: #222;
}

#vis-6 .axis line,
.axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

#vis-6 .axis .tick text {
    fill: #222;
    pointer-events: none;
}

#vis-6 .axis.pl_facility .tick text,
#vis-6 .axis.pl_instrument .tick text,
#vis-6 .axis.st_spstr .tick text {
    font-size: 6px;
}

#vis-6 .axis.pl_telescope .tick text {
    font-size: 5px;
}

#vis-6 .axis:hover line,
#vis-6 .axis:hover path,
#vis-6 .axis.active line,
#vis-6 .axis.active path {
    fill: none;
    stroke: #222;
    stroke-width: 1px;
}

#vis-6 .axis:hover .title {
    font-weight: bold;
}

#vis-6 .axis:hover .tick text {
    opacity: 1;
}

#vis-6 .axis.active .title {
    font-weight: bold;
}

#vis-6 .axis.active .tick text {
    opacity: 1;
    font-weight: bold;
}

#vis-6 .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    stroke-width: 1px;
}

#vis-6 pre {
    width: 100%;
    height: 300px;
    margin: 6px 12px;
    tab-size: 40;
    font-size: 10px;
    overflow: auto;
}

/*********************/
/*  Consequences */
/*********************/
.bg-4{
    background-color: #F9F9F9;
    color: #2d2d30 !important;
}

.square-map {
}

/*********************/
/*  Recommendation */
/*********************/
.bg-5{
    background-color: #2d2d30;
    color: white !important;
}

footer{
    padding: 2.5em;
    background-color: #2d2d30;
    opacity: 0.9;
    color: #d5d5d5 !important;
}

footer:hover{
    color: #fff !important;
}

.glyphicon-chevron-up{
    color: #d5d5d5 !important;
}

